body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    color: rgb(43, 0, 0);
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(43, 0, 0);
    text-align: center;
    padding: 20px 0;
}

#album-title, #band-logo {
    width: 50%;
    height: auto;
    box-shadow: 0 0 15px rgb(43, 0, 0);
}

.merch-display {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
    color:black
}

.merch-item {
    width: 30%;
    transition: transform 0.5s;
    box-shadow: 0 0 20px rgb(43, 0, 0);
}

.merch-item:hover {
    transform: scale(1.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: rgb(43, 0, 0);
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
